<%-include("partials/header.ejs") %>
<div class="home-page">
    <h1 class="home-title">Welcome to your personal Plan</h1>
    <div class="today-title">
        <h3 class="home-subtitle">Today</h3>
        <% if(locals.today_agenda){ %>
            <% if (today_agenda.length === 0) { %>
                <div class="home-display">
                    <p class="item">You haven't added your today's todo list</p>
                </div>
            <% }else{ %>
                <div class="home-display">
                    <% for(let item of today_agenda){ %>
                            <p class="item"><%= item.to_do %></p>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="agenda-section home-buttom">
        <a class="daily agenda home" href="/daily">Daily Agenda</a>
        <a class="weekly agenda home" href="/weekly">Weekly Agenda</a>
        <a class="monthly agenda home" href="/monthly">Monthly Agenda</a>
    </div>

</div>





